<% if(path === '/penyedia' ){ %>
    <script src="<%= uri %>/assets/service/js/apexcharts.min.js"></script>
    <script src="<%= uri %>/assets/service/js/countdown.js"></script>
    <script src="<%= uri %>/assets/service/js/penyediaScript.js"></script>
    <script src="<%= uri %>/assets/service/js/chart.js"></script>
<% }else if(path === '/fasilitator'){ %>
    <script src="<%= uri %>/assets/service/js/countdown.js"></script>
<script src="<%= uri %>/assets/service/js/fasilitatorScript.js"></script>
<% } %>

</body>
</html>