<% if(path === '/superuser'){ %>
    <script src="<%= uri %>/assets/service/js/apexcharts.min.js"></script>
    <script src="<%= uri %>/assets/service/js/chart.js"></script>
    <script src="<%= uri %>/assets/service/js/dashboardScript.js"></script>
<% }else if(path === '/superuser/monitoring'){ %>
    <script src="<%= uri %>/assets/service/js/countdown.js"></script>
    <script src="<%= uri %>/assets/service/js/monitoringScript.js"></script>
    <% }else if(path === '/superuser/users'){ %>
    <script src="<%= uri %>/assets/service/js/usersScript.js"></script>
<% }else if(path === '/superuser/testimonial'){ %>
    <script src="<%= uri %>/assets/service/js/testimonialScript.js"></script>
<% }else if(path === '/superuser/contact'){ %>
    <script src="<%= uri %>/assets/service/js/contactSuperuserScript.js"></script>
<% } %>

<script src="<%= uri %>/assets/service/js/sidebar.js"></script>
</body>
</html>