<aside class="w-60 h-screen bg-red-600 p-5 fixed z-[999] text-slate-200 -translate-x-[2000px] duration-500 ease-out lg:translate-x-0">
    <div class="text-end cursor-pointer sidebar-close block lg:hidden">
        <i class="fa-solid fa-xmark text-3xl"></i>
    </div>
    <img src="../telkomsel-logo.png" alt="" class="mb-8">
    <a href="/superuser" class="text-2xl font-semibold uppercase">Super User</a>
    <hr class="mt-5">
    <div class="mt-24">
        <ul class="h-56 flex flex-col justify-between">
            <li><a href="/superuser" class="<%= path === '/superuser' ? 'text-slate-400 hover:text-slate-200 duration-500' : 'hover:text-slate-400 duration-500' %>"><i class="fa-solid fa-gauge me-4"></i>Dashboard</a></li>
            <li><a href="/superuser/users" class="<%= path === '/superuser/users' ? 'text-slate-400 hover:text-slate-200 duration-500' : 'hover:text-slate-400 duration-500' %>"><i class="fa-solid fa-users me-3"></i>Users</a></li>
            <li><a href="/superuser/monitoring" class="<%= path === '/superuser/monitoring' ? 'text-slate-400 hover:text-slate-200 duration-500' : 'hover:text-slate-400 duration-500' %>"><i class="fa-solid fa-eye me-3"></i>Monitoring</a></li>
            <li><a href="/superuser/testimonial" class="<%= path === '/superuser/testimonial' ? 'text-slate-400 hover:text-slate-200 duration-500' : 'hover:text-slate-400 duration-500' %>"><i class="fa-solid fa-newspaper me-3"></i>Testimonials</a></li>
            <li><a href="/superuser/contact" class="<%= path === '/superuser/contact' ? 'text-slate-400 hover:text-slate-200 duration-500' : 'hover:text-slate-400 duration-500' %>"><i class="fa-solid fa-phone me-3"></i>Contact</a></li>
        </ul>
    </div>
</aside>