
    <div class="w-full bg-slate-100">
        <%- include('../layout/navbar') %>
        <div class="w-full h-full p-14">
            <h1 class="text-3xl mb-20 font-semibold">Dashboard</h1>
            <div class="grid grid-cols-2 gap-5">
                <div>
                    <h1><i class="fa-solid fa-plus me-3"></i>Last Week's Orders Report</h1>
                    <input type="text" class="my-2 text-[12px] py-1 px-2 outline-none text-slate-400" value="17/02/2024 - 24/02/2024" readonly>
                    <div id="chart" class="bg-white h-fit p-2 rounded-sm shadow-lg"></div>
                </div>
                <div>
                    <h1><i class="fa-solid fa-plus me-3"></i>Monthly Modem Rental Report</h1>
                    <input type="text" class="my-2 text-[12px] py-1 px-2 outline-none text-slate-400" value="Year: 2024" readonly>
                    <div id="chart2" class="bg-white h-fit p-2 rounded-sm shadow-lg"></div>
                </div>
            </div>

            <section class="mt-10 pb-20 bg-white p-5">
                <h1 class="text-2xl mt-7 mb-10">Stok dan Pesanan</h1>
                <div class="grid grid-cols-2 w-full">
                    
                    <div class="">
                        <h1 class="text-lg">Modem Tersedia</h1>
                        <div class="flex gap-4 text-sm items-center">
                            <div class="mt-4">
                                <span class="me-2">N1</span>
                                <input type="text" class="outline-none w-12 text-sm text-slate-500 p-1 text-center" id="n1" value="<%= jumlahModem.N1 %>" readonly>
                            </div>
                            <div class="mt-4">
                                <span class="me-2">N2</span>
                                <input type="text" class="outline-none w-12 text-sm text-slate-500 p-1 text-center" id="n2" value="<%= jumlahModem.N2 %>" readonly>
                            </div>
                            <button type="button" id="btnTambahkan" class="mt-5 p-2 bg-blue-500 rounded-sm text-white text-sm">Tambahkan Stok</button>
                            <button type="button" id="btnEdit" class="mt-5 p-2 bg-green-500 rounded-sm text-white text-sm">Edit Stok</button>
    
                            <dialog class="w-[250px] p-4 bg-slate-100 text-sm rounded-lg">
                                <div class="text-end cursor-pointer" id="closeModal">
                                    <i class="fa-solid fa-xmark text-lg"></i>
                                </div>
                                <h1 class="text-lg">Edit Stok</h1>
                                <div class="mt-5">
                                    <div class="mt-2 flex flex-col">
                                        <label class="text-sm">Pilih Modem</label>
                                        <select name="modem" class="text-[12px] w-56 border-2 py-1 px-2 outline-none text-slate-800 shadow mt-2">
                                            <option value="N1">N1</option>
                                            <option value="N2">N2</option>
                                        </select>
                                    </div>
                                    <div class="mt-2 flex flex-col">
                                        <label class="text-sm">Jumlah</label>
                                        <input name="editJumlah" class="text-[12px] w-56 border-2 py-1 px-2 outline-none text-slate-800 shadow mt-2" />
                                    </div>
                                    <button type="button" class="mt-5 p-2 bg-blue-500 rounded-sm text-white text-sm" id="editStok">Edit</button>
                               </div>
                            </dialog>

                            <dialog class="w-[250px] p-4 bg-slate-100 text-sm rounded-lg">
                                <div class="text-end cursor-pointer" id="closeAddModal">
                                    <i class="fa-solid fa-xmark text-lg"></i>
                                </div>
                                <h1 class="text-lg">Tambahkan Stok</h1>
                                <div class="mt-5">
                                    <div class="mt-2 flex flex-col">
                                        <label class="text-sm">Pilih Modem</label>
                                        <select name="modemTambahkan" class="text-[12px] w-56 border-2 py-1 px-2 outline-none text-slate-800 shadow mt-2">
                                            <option value="N1">N1</option>
                                            <option value="N2">N2</option>
                                        </select>
                                    </div>
                                    <div class="mt-2 flex flex-col">
                                        <label class="text-sm">Jumlah</label>
                                        <input name="tambahJumlah" class="text-[12px] w-56 border-2 py-1 px-2 outline-none text-slate-800 shadow mt-2" />
                                    </div>
                                    <button type="button" class="mt-5 p-2 bg-blue-500 rounded-sm text-white text-sm" id="tambahkanStok">Tambahkan</button>
                               </div>
                            </dialog>
                        </div>
                    </div>

                    <div class="mt-5">
                        <h1>Jumlah Pesanan</h1>
                        <input type="text" id="jumlahPesanan" class="outline-none w-12 text-sm text-slate-500 p-1 mt-4 text-center" value="<%= rentalsCount %>" readonly>
                    </div>
                </div>

                <div class="mt-10 text-sm">
                    <h1 class="text-lg">Lokasi Tersedia</h1>
                    <div class="grid grid-cols-2 mt-4 gap-2">
                        <% for(const location of locations) {%>
                            <div class="p-1 bg-slate-200">
                                <p><%= location.location %></p>
                            </div>
                        <% } %>
                    </div>
                </div>
            </section>
        </div>
    </div>

    