
    <div class="w-full bg-slate-100">
        <%- include('../layout/navbar') %>
        <div class="w-full h-full p-14">
            <h1 class="text-3xl mb-20 font-semibold">Dashboard</h1>
            <div class="grid grid-cols-2 gap-5">
                <div>
                    <h1><i class="fa-solid fa-plus me-3"></i>Last Week's Orders Report</h1>
                    <input type="text" class="my-2 text-[12px] py-1 px-2 outline-none text-slate-400 rentangtanggal" value="- / -" readonly>
                    <div id="chart" class="bg-white h-fit p-2 rounded-sm shadow-lg"></div>
                </div>
                <div>
                    <h1><i class="fa-solid fa-plus me-3"></i>Monthly Modem Rental Report</h1>
                    <input type="text" class="my-2 text-[12px] py-1 px-2 outline-none text-slate-400" value="Year: 2024" readonly>
                    <div id="planChart" class="bg-white h-fit p-2 rounded-sm shadow-lg"></div>
                </div>
            </div>

            <section class="mt-10 pb-20 bg-white p-5">
                <h1 class="text-2xl mt-7 mb-5">Stok dan Pesanan</h1>
                <div class="grid grid-cols-2 w-full">
                    
                    <div class="">
                        <div class="flex gap-4 text-sm items-center">
                            
                            <button type="button" id="btnTambahkan" class="mt-5 p-2 bg-blue-500 rounded-sm text-white text-sm">Tambahkan Stok</button>
                            <button type="button" id="btnEdit" class="mt-5 p-2 bg-green-500 rounded-sm text-white text-sm">Edit Stok</button>
                        </div>
                    </div>
                </div>

                <div class="mt-10 text-sm">
                    <h1 class="text-lg">Lokasi Tersedia</h1>
                    <div class="grid grid-cols-2 mt-4 gap-2">
                        <% for(const item of data) {%>
                            <div class="p-1 bg-slate-200 flex justify-between">
                                <p><%= item.location %></p>
                                <div class="grid grid-cols-2 gap-4">
                                    <div class="flex gap-2">
                                        <p>N1: </p>
                                        <p class="text-end"><%= item.n1 %></p>
                                    </div>
                                    <div class="flex gap-2">
                                        <p>N2: </p>
                                        <p class="text-end"><%= item.n2 %></p>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
            </section>

            <section id="inProgress" class="pb-20 bg-white p-5 mt-10">
                <h1 class="text-2xl">In Progress</h1>
                <div class="mt-5 min-h-[400px] overflow-auto">
                    <div>
                        <input type="text" name="inProgressSearch" class="my-4 text-[12px] w-56 border-2 py-1 px-2 outline-none text-slate-800 shadow" placeholder="search...">
                    </div>
                    
                    <div class="grid grid-cols-10 uppercase text-sm text-slate-500 mt-2 gap-2">
                        <div>
                            <p>Name</p>
                        </div>
                        <div>
                            <p>Destination</p>
                        </div>
                        <div>
                            BAK
                        </div>
                        <div>
                            <p>Passport</p>
                        </div>
                        <div>
                            <p>Boarding Passport</p>
                        </div>
                        <div>
                            <p>Modem</p>
                        </div>
                        <div>
                            <p>Plan</p>
                        </div>
                        <div>
                            <p>Rental Time</p>
                        </div>
                        <div class="pe-2">
                            <p>Rental Status</p>
                        </div>
                        <div>
                            <p>Action</p>
                        </div>
                    </div>
                    <div class="in-progress h-[400px] overflow-auto">
                        <% for(const item of rentalInProgress) {%>
                        <div class="grid grid-cols-10 text-sm mt-5 gap-2">
                            <div class="flex items-center">
                                <p><%= item.name %></p>
                            </div>
                            <div class="flex items-center">
                                <p><%= item.destination %></p>
                            </div>
                            <div class="flex items-center">
                                <% if(!item.bak){ %>
                                    <button class="p-2 bg-sky-400 rounded-sm text-white text-[12px] upload" data-data="<%= item.id %>">Upload</button>
                                <% }else{ %>
                                    <button class="p-2 bg-sky-400 rounded-sm text-white text-[12px] lihat-bak" data-bak="<%= item.bak %>">Lihat Gambar</button>
                                <% } %>    
                            </div>
                            <div class="flex items-center">
                                <button class="p-2 bg-sky-400 rounded-sm text-white text-[12px] lihat-passport" data-passport="<%= item.passport %>">Lihat Gambar</button>
                            </div>
                            <div class="flex items-center">
                                <% if(item.boarding_passport !== '-'){ %>
                                    <button class="p-2 bg-sky-400 rounded-sm text-white text-[12px] lihat-boardingpass" data-boardingpass="<%= item.boarding_passport %>">Lihat Gambar</button>
                                <% }else{ %>
                                    <div class="text-center ms-5">--</div>
                                <% } %>
                            </div>
                            <div class="flex items-center">
                                <p><%= item.jenis_modem %></p>
                            </div>
                            <div class="flex items-center">
                                <p><%= item.plan %></p>
                            </div>
                            <div>
                                <p><%= item.startAt %></p>
                            </div>
                            <div class="flex items-center">
                                <p class="text-yellow-500"><%= item.status %></p>
                            </div>
                            <div>
                                <a class="me-4 cursor-pointer update" data-href="penyedia/update/status/<%= item.status %>/<%= item.id %>/<%= item.plan_id %>" data-name="<%= item.name %>"><i class="fa-solid fa-pen-to-square"></i></a>
                                <a class="cursor-pointer delete" data-href="penyedia/delete/status/<%= item.id %>" data-name="<%= item.name %>"><i class="fa-solid fa-trash"></i></a>
                            </div>
                        </div>
        
                        <% } %>
                    </div>
                </div>

            </section>

            <section id="rentalRented" class="mt-10 pb-20 bg-white p-5">
                <h1 class="text-2xl">Rented</h1>
                <div class="mt-5">
                    <div>
                        <input type="text" name="rentedSearch" class="my-4 text-[12px] w-56 border-2 py-1 px-2 outline-none text-slate-800 shadow" placeholder="search...">
                    </div>
                    
                    <div class="grid grid-cols-10 uppercase text-sm text-slate-500 mt-2 gap-2">
                        <div>
                            <p>Name</p>
                        </div>
                        <div>
                            <p>Destination</p>
                        </div>
                        <div>
                            BAK
                        </div>
                        <div>
                            <p>Passport</p>
                        </div>
                        <div>
                            <p>Boarding Passport</p>
                        </div>
                        <div>
                            <p>Modem</p>
                        </div>
                        <div>
                            <p>Plan</p>
                        </div>
                        <div>
                            <p>Rental Time</p>
                        </div>
                        <div class="pe-2">
                            <p>Rental Status</p>
                        </div>
                        <div>
                            <p>Action</p>
                        </div>
                    </div>
                    <div class="rented h-[400px] overflow-auto">
                        <% for(const item of rentalRented) {%>
                        <div class="grid grid-cols-10 text-sm mt-5 gap-2 row-2">
                            <div class="flex items-center">
                                <p><%= item.name %></p>
                            </div>
                            <div class="flex items-center">
                                <p><%= item.destination %></p>
                            </div>
                            <div class="flex items-center">
                                <button class="p-2 bg-sky-400 rounded-sm text-white text-[12px] lihat-bak" data-bak="<%= item.bak %>">Lihat Gambar</button>
                            </div>
                            <div class="flex items-center">
                                <button class="p-2 bg-sky-400 rounded-sm text-white text-[12px] lihat-passport" data-passport="<%= item.passport %>">Lihat Gambar</button>
                            </div>
                            <div class="flex items-center">
                                <% if(item.boarding_passport !== '-'){ %>
                                    <button class="p-2 bg-sky-400 rounded-sm text-white text-[12px] lihat-boardingpass" data-boardingpass="<%= item.boarding_passport %>">Lihat Gambar</button>
                                <% }else{ %>
                                    <div class="text-center ms-5">--</div>
                                <% } %>
                            </div>
                            <div class="flex items-center">
                                <p><%= item.jenis_modem %></p>
                            </div>
                            <div class="flex items-center">
                                <p><%= item.plan %></p>
                            </div>
                            <div>
                                <p class="countdown" data-end="<%= item.finishAt %>"></p>
                            </div>
                            <div class="flex items-center">
                                <p class="text-blue-500"><%= item.status %></p>
                            </div>
                            <div>
                                <a class="me-4 cursor-pointer update" data-href="penyedia/update/status/<%= item.status %>/<%= item.id %>/<%= item.plan_id %>" data-name="<%= item.name %>"><i class="fa-solid fa-pen-to-square"></i></a>
                                <a class="cursor-pointer delete" data-href="penyedia/delete/status/<%= item.id %>" data-name="<%= item.name %>" ><i class="fa-solid fa-trash"></i></a>
                            </div>
                        </div>
        
                        <% } %>
                    </div>
                </div>

            </section>

            <section id="rentalFinished" class="mt-10 pb-20 bg-white p-5">
                <h1 class="text-2xl">Finished</h1>
                <div class="mt-5">
                    <div>
                        <input type="text" name="finishedSearch" class="my-4 text-[12px] w-56 border-2 py-1 px-2 outline-none text-slate-800 shadow" placeholder="search...">
                    </div>
                    
                    <div class="grid grid-cols-10 uppercase text-sm text-slate-500 mt-2 gap-2">
                        <div>
                            <p>Name</p>
                        </div>
                        <div>
                            <p>Destination</p>
                        </div>
                        <div>
                            <p>BAK</p>
                        </div>
                        <div>
                            <p>Passport</p>
                        </div>
                        <div>
                            <p>Boarding Passport</p>
                        </div>
                        <div>
                            <p>Modem</p>
                        </div>
                        <div>
                            <p>Plan</p>
                        </div>
                        <div>
                            <p>Rental Time</p>
                        </div>
                        <div class="pe-2">
                            <p>Rental Status</p>
                        </div>
                        <div>
                            <p>Action</p>
                        </div>
                    </div>
                    <div class="finished h-[400px] overflow-auto">
                        <% for(const item of rentalFinished) {%>
                        <div class="grid grid-cols-10 text-sm mt-5 gap-2">
                            <div class="flex items-center">
                                <p><%= item.name %></p>
                            </div>
                            <div class="flex items-center">
                                <p><%= item.destination %></p>
                            </div>
                            <div class="flex items-center">
                                <button class="p-2 bg-sky-400 rounded-sm text-white text-[12px] lihat-bak" data-bak="<%= item.bak %>">Lihat Gambar</button>  
                            </div>
                            <div class="flex items-center">
                                <button class="p-2 bg-sky-400 rounded-sm text-white text-[12px] lihat-passport" data-passport="<%= item.passport %>">Lihat Gambar</button>
                            </div>
                            <div class="flex items-center">
                                <% if(item.boarding_passport !== '-'){ %>
                                    <button class="p-2 bg-sky-400 rounded-sm text-white text-[12px] lihat-boardingpass" data-boardingpass="<%= item.boarding_passport %>">Lihat Gambar</button>
                                <% }else{ %>
                                    <div class="text-center ms-5">--</div>
                                <% } %>
                            </div>
                            <div class="flex items-center">
                                <p><%= item.jenis_modem %></p>
                            </div>
                            <div class="flex items-center">
                                <p><%= item.plan %></p>
                            </div>
                            <div>
                                <p>Time's Up</p>
                            </div>
                            <div class="flex items-center">
                                <p class="text-green-500"><%= item.status %></p>
                            </div>
                            <div>
                                <a class="cursor-pointer delete" data-href="penyedia/delete/status/<%= item.id %>" data-name="<%= item.name %>"><i class="fa-solid fa-trash"></i></a>
                            </div>
                        </div>
        
                        <% } %>
                    </div>
                </div>

            </section>
        </div>
    </div>

    <dialog class="w-[250px] p-4 bg-slate-100 text-sm rounded-lg">
        <div class="text-end cursor-pointer" id="closeModal">
            <i class="fa-solid fa-xmark text-lg"></i>
        </div>
        <h1 class="text-lg">Edit Stok</h1>
        <form class="mt-5" action="/penyedia/action" method="POST">
            <div class="mt-2 flex flex-col">
                <label class="text-sm">Pilih Modem</label>
                <select name="modem" class="text-[12px] w-56 border-2 py-1 px-2 outline-none text-slate-800 shadow mt-2">
                    <option value="N1">N1</option>
                    <option value="N2">N2</option>
                </select>
            </div>
            <div class="mt-2 flex flex-col">
                <label class="text-sm">Pilih Modem</label>
                <select name="location" class="text-[12px] w-56 border-2 py-1 px-2 outline-none text-slate-800 shadow mt-2">
                    <%let no = 1; for(item of lokasi){ %>
                        <option value="<%= no++ %>"><%= item.location %></option>
                    <% } %>
                </select>
            </div>
            <div class="mt-2 flex flex-col">
                <label class="text-sm">Jumlah</label>
                <input name="jumlah" class="text-[12px] w-56 border-2 py-1 px-2 outline-none text-slate-800 shadow mt-2" />
            </div>
            <input type="hidden" name="action" value="edit">
            <button type="submit" class="mt-5 p-2 bg-blue-500 rounded-sm text-white text-sm" id="editStok">Edit</button>
       </form>
    </dialog>

    <dialog class="w-[250px] p-4 bg-slate-100 text-sm rounded-lg">
        <div class="text-end cursor-pointer" id="closeAddModal">
            <i class="fa-solid fa-xmark text-lg"></i>
        </div>
        <h1 class="text-lg">Tambahkan Stok</h1>
        <form method="POST" action="/penyedia/action" class="mt-5">
            <div class="mt-2 flex flex-col">
                <label class="text-sm">Pilih Modem</label>
                <select name="modem" class="text-[12px] w-56 border-2 py-1 px-2 outline-none text-slate-800 shadow mt-2">
                    <option value="N1">N1</option>
                    <option value="N2">N2</option>
                </select>
            </div>
            <div class="mt-2 flex flex-col">
                <label class="text-sm">Lokasi</label>
                <select name="location" class="text-[12px] w-56 border-2 py-1 px-2 outline-none text-slate-800 shadow mt-2">
                    <% let no2 = 1; for(item of lokasi){ %>
                        <option value="<%= no2++ %>"><%= item.location %></option>
                    <% } %>
                </select>
            </div>
            <div class="mt-2 flex flex-col">
                <label class="text-sm">Jumlah</label>
                <input name="jumlah" class="text-[12px] w-56 border-2 py-1 px-2 outline-none text-slate-800 shadow mt-2" />
            </div>
            <input type="hidden" name="action" value="tambah">
            <button type="submit" class="mt-5 p-2 bg-blue-500 rounded-sm text-white text-sm" id="tambahkanStok">Tambahkan</button>
       </form>
    </dialog>

    <dialog id="lihatImage">
        <div class="text-end text-3xl cursor-pointer absolute right-3 top-3" id="closeBtn"><i class="fa-solid fa-xmark text-red-600"></i></div>
        <div class="flex flex-col">
            <img src=""  alt="" id="modalImage" class="max-w-[400px]">
            <img src=""  alt="" id="modalImage2" class="max-w-[400px]">
        </div>
    </dialog>

    <dialog class="w-[250px] p-4 bg-slate-100 text-sm rounded-lg">
        <div class="text-end cursor-pointer" id="closeUploadBtn">
            <i class="fa-solid fa-xmark text-lg"></i>
        </div>
        <h1 class="text-lg">Upload BAK</h1>
        <form method="POST" action=""  class="mt-5 form" enctype="multipart/form-data">
            <div class="mt-2 flex flex-col">
                <label for="bak" class="text-sm">Upload Gambar</label>
                <input name="bak" class="text-[12px] w-56 border-2 py-1 px-2 outline-none text-slate-800 shadow mt-2" type="file"/>
                <input type="hidden" name="kode">
            </div>
            <button type="submit" class="mt-5 p-2 bg-blue-500 rounded-sm text-white text-sm">Upload</button>
       </form>
    </dialog>


    <% if(success){ %>
        <%- success %>
    <% } %>