<header class="relative z-10 shadow headSection">
    <div class="absolute w-full h-screen">
        <div class="absolute w-full h-screen bg-black opacity-70"></div>
        <div style="background-image: url('assets/img/home/banner.jpg');"
            class="bg-fixed h-screen w-full bg-cover bg-center"></div>
    </div>

    <div
        class="relative z-40 h-screen w-full flex flex-col md:flex-row md:items-center md:justify-evenly justify-center text-slate-100">
        <img src="<%= uri %>/assets/img/home/modem.png" alt="modem"
            class="self-center w-[180px] lg:w-[300px] duration-1000 ease floating-image">
        <div class="px-4 mt-2 w-96 lg:ms-5 duration-1000 ease">
            <h1 class="text-2xl lg:text-4xl poppins-semibold">WIFI FOR RENT</h1>
            <p class="text-md my-4">Stay effortlessly connected while exploring the breathtaking vistas of Paradise
                Island Papua with
                Telkomsel Orbit.</p>
            <div>
                <a class="bg-[#0047FF] w-fit py-3 px-4 flex items-center rounded-sm cursor-pointer hover:bg-blue-900 duration-300 ease"
                    href="/rent">
                    <p class="text-sm me-2">Rent Now</p> <i class="fa-solid fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</header>

<div id="sectionContainer">
    <section
        class="overflow-hidden w-full bg-gradient-to-t to-[#1F0235] from-[#B8050A] pt-[30px] text-slate-100 px-3 md:px-[50px] lg:pt-[80px] lg:px-[80px]"
        id="briefSection">

        <div class="pb-5 md:flex md:items-center briefSubSection1">
            <img src="<%= uri %>/assets/img/home/picture.png" alt=""
                class="min-w-[200px] md:min-w-[400px] lg:min-w-[550px]">

            <div class="shadow-lg">
                <h1 class="poppins-semibold text-2xl lg:text-4xl">Brief Explanation of The Importance of Orbit MiFi
                </h1>

                <hr class="my-[20px] bg-slate-900 rounded-sm">

                <div class="h-fit p-3 rounded-sm shadow-lg overflow-auto"
                    style="background-color: rgba(255,255,255, 0.1);">
                    <div id="whatBtn" class="p-2 rounded-sm cursor-pointer duration-700 ease"
                        style="background-color: rgba(29, 78, 216, 0.8);">
                        <h1 class="text-center text-slate-200">What is Orbit MiFi?</h1>
                    </div>
                    <div id="whyBtn" class="p-2 rounded-sm mt-2 cursor-pointer ease duration-700"
                        style="background-color: rgba(255, 255, 255, 0.1);">
                        <h1 class="text-center text-slate-200">Why Using Orbit MiFi?</h1>
                    </div>
                    <div class="mt-5 text-sm poppins-light">
                        <p id="explanationText">Orbit MiFi is a portable internet modem device with a battery, supported by Telkomsel 4G LTE signals along with special MiFi data packages by applying variants and package tariffs according to customer needs.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="py-[5px] lg:py-[60px] flex justify-evenly">
            <div class="flex flex-col lg:flex-row gap-2 lg:gap-4">
                <div class="p-5 rounded-sm text cursor-pointer hover:-translate-y-2 hover:delay-0 shadow-lg"
                    style="background-color: rgba(255,255,255, 0.1);">
                    <h1 class="text-2xl poppins-semibold">Simple</h1>
                    <p>Tourists do not need to register a device or the first stay is ready to use and the mifi
                        modem
                        can be accessed up to 16 devices</p>
                    <div class="w-full mt-2 flex justify-end">
                        <img src="<%= uri %>/assets/img/home/portal-T-gradient.png" alt="" class="w-[40px]">
                    </div>
                </div>
                <div class="p-5 rounded-sm text cursor-pointer hover:-translate-y-2 hover:delay-0 shadow-lg"
                    style="background-color: rgba(255,255,255, 0.1);">
                    <h1 class="text-2xl poppins-semibold">Safe</h1>
                    <p>Every travel orbit modem rental needs to deposit the price of the modem which will later be
                        returned after completion of use.
                    </p>
                    <div class="w-full mt-2 flex justify-end">
                        <img src="<%= uri %>/assets/img/home/portal-T-gradient.png" alt="" class="w-[40px]">
                    </div>
                </div>
                <div class="p-5 rounded-sm text cursor-pointer hover:-translate-y-2 hover:delay-0 shadow-lg"
                    style="background-color: rgba(255,255,255, 0.1);">
                    <h1 class="text-2xl poppins-semibold">Affordable</h1>
                    <p>In addition to cheap rental prices and for packages, it also varies and prices are more
                        affordable than the new starter pack</p>
                    <div class="w-full mt-2 flex justify-end">
                        <img src="<%= uri %>/assets/img/home/portal-T-gradient.png" alt="" class="w-[40px]">
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- Products Section -->

    <section
        class="pb-[50px] bg-gradient-to-t from-[#1F0235] to-[#B8050A]  pt-[30px] text-slate-100 px-3 md:px-[50px] lg:pt-[80px] lg:px-[80px] overflow-hidden">

        <h1 class="poppins-semibold text-2xl lg:text-4xl">Orbit MiFi Products</h1>

        <hr class="my-[20px] bg-slate-900 rounded-sm">

        <div class="flex flex-col md:flex-row gap-4 lg:pt-[50px]  m-auto w-fit">
            <div class="animation-card w-[300px] rounded-lg relative overflow-hidden m-auto lg:m-0"
                style="background-color: rgba(255, 255, 255, 0.1);">
                <div class="p-5 z-10 relative cursor-pointer">
                    <div>
                        <h1 class="text-xl poppins-medium mb-2">MiFi N1</h1>
                        <img src="<%= uri %>/assets/img/home/MIFI_N1-preview.png" alt="" class="w-[200px] m-auto">
                    </div>
                    <div class="mt-5 ms-5">
                        <ul class="list-disc">
                            <li>HKM</li>
                            <li>IDR 675,000</li>
                            <li>1 Year Warranty</li>
                            <li>~15 Mbps</li>
                            <li>LED M21</li>
                            <li>Up to 9 Hours Battery</li>
                            <li>Size: 101 mm X 64 mm X 14.7 mm</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="animation-card w-[300px] rounded-lg relative overflow-hidden m-auto lg:m-0"
                style="background-color: rgba(255, 255, 255, 0.1);">
                <div class="p-5 z-10 relative cursor-pointer">
                    <div>
                        <h1 class="text-xl poppins-medium mb-2">MiFi N1</h1>
                        <img src="<%= uri %>/assets/img/home/MIFI_N2-preview.png" alt="" class="w-[200px] m-auto">
                    </div>
                    <div class="mt-5 ms-5">
                        <ul class="list-disc">
                            <li>HKM</li>
                            <li>IDR 700,000</li>
                            <li>1 Year Warranty</li>
                            <li>~15 Mbps</li>
                            <li>LED M22</li>
                            <li>Up to 9 Hours Battery</li>
                            <li>Size: 101 mm X 64 mm X 14.7 mm</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div>
                <img src="<%= uri %>/assets/img/home/picture1.jpeg" alt="" class="w-[415px] rounded-lg">
            </div>
        </div>
    </section>

    <!-- Steps Section -->

    <section
        class="pb-[50px] bg-gradient-to-t from-[#B8050A] to-[#1F0235] pt-[30px] text-slate-100 px-3 md:px-[50px] lg:pt-[80px] lg:px-[80px] overflow-hidden">
        <h1 class="poppins-semibold text-2xl lg:text-4xl">Orbit MiFi Rent Process Steps</h1>

        <hr class="my-[20px] bg-slate-900 rounded-sm">

        <div class="gap-4 lg:gap-5 grid grid-cols-1 md:grid-cols-3 lg:pt-[50px]">
            <div class="p-5 rounded-sm group cursor-pointer shadow-lg stepCards" style="background-color: rgba(255,255,255, 0.1);">
                <div class="flex items-center gap-4 pb-5">
                    <div
                        class="w-[80px] h-[80px] border border-slate-200 rounded-full flex justify-center items-center group-hover:border-blue-500 duration-500">
                        <h1 class="text-5xl">1</h1>
                    </div>
                    <p class="text-2xl">Dealing WiFi Rent</p>
                </div>
                <p>Choose the offer provided by Telkomsel team regarding MiFi modem rental.</p>
            </div>
            <div class="p-5 rounded-sm group cursor-pointer shadow-lg stepCards" style="background-color: rgba(255,255,255, 0.1);">
                <div class="flex items-center gap-4 pb-5">
                    <div
                        class="w-[80px] h-[80px] border border-slate-200 rounded-full flex justify-center items-center group-hover:border-blue-500 duration-500 ">
                        <h1 class="text-5xl">2</h1>
                    </div>
                    <p class="text-2xl">Signature BAK</p>
                </div>
                <p>Signature BAK related to personal data and IMEI Modem orbit. Tourists also provide a deposit as
                    collateral which will later be returned after rental.</p>
            </div>
            <div class="p-5 rounded-sm group cursor-pointer shadow-lg stepCards" style="background-color: rgba(255,255,255, 0.1);">
                <div class="flex items-center gap-4 pb-5">
                    <div
                        class="w-[80px] h-[80px] border border-slate-200 rounded-full flex justify-center items-center group-hover:border-blue-500 duration-500">
                        <h1 class="text-5xl">3</h1>
                    </div>
                    <p class="text-2xl">Return</p>
                </div>
                <p>The tourist returns the Orbit according to the serial number in the BAK. Also, Tourists get back
                    the
                    deposit money from Orbit loans.</p>
            </div>
        </div>

    </section>

    <!-- Testimonials Section -->

    <section class="pb-[80px] bg-gradient-to-t to-[#B8050A] from-[#1F0235] pt-[30px] text-slate-100 px-3 md:px-[50px] lg:pt-[80px] lg:px-[80px] overflow-hidden">
        <div class="w-[400px] m-auto">
            <h1 class="text-center text-4xl poppins-semibold">Our Testimonials</h1>
            <p class="text-center text-slate-200 pb-[50px] poppins-light mt-3">Here are some testimonials from customers who have used our Orbit MiFi.</p>
        </div>

        <div class="grid grid-cols-1 lg:grid-cols-3 lg:pt-[50px] gap-1">
            <div class="p-5 group m-auto rounded-xl shadow-lg" style="background-color: rgba(255,255,255, 0.1);">
                <div class="mb-3 md:mb-1">
                    <i class="fa-solid fa-quote-left text-4xl"></i>
                </div>
                <div class="mb-10 h-fit overflow-auto">
                    <p class="mb-2"><%= data.testimoni[0].text %></p>
                    <p>~ <%= data.testimoni[0].name %></p>
                </div>
                <div class="flex gap-4 items-center cursor-pointer">
                    <div class="bg-cover bg-center w-16 h-16 rounded-full overflow-hidden">
                        <img src="<%= uri %>/images/testimonials/<%= data.testimoni[0].testimonial %>" alt="" >
                    </div>
                    <button class="hover:text-slate-400 duration-500 see" data-img="<%= data.testimoni[0].testimonial %>">See Picture</button>
                </div>
            </div>
            <div class="p-5 group m-auto rounded-xl lg:translate-y-7 shadow-lg" style="background-color: rgba(255,255,255, 0.1);">
                <div class="mb-3">
                    <i class="fa-solid fa-quote-left text-4xl"></i>
                </div>
                <div class="mb-10 h-fit overflow-auto">
                    <p class="mb-2"><%= data.testimoni[1].text %></p>
                    <p>~ <%= data.testimoni[1].name %></p>
                </div>
                <div class="flex gap-4 items-center cursor-pointer see">
                    <div class="bg-cover bg-center w-16 h-16 rounded-full overflow-hidden">
                        <img src="<%= uri %>/images/testimonials/<%= data.testimoni[1].testimonial %>" alt="" >
                    </div>
                    <button class="hover:text-slate-400 duration-500 see" data-img="<%= data.testimoni[1].testimonial %>">See Picture</button>
                </div>
            </div>
            <div class="p-5 group cursor-pointer m-auto rounded-xl lg:translate-y-4 shadow-lg" style="background-color: rgba(255,255,255, 0.1);">
                <div class="mb-3">
                    <i class="fa-solid fa-quote-left text-4xl"></i>
                </div>
                <div class="mb-10 h-fit overflow-auto">
                    <p class="mb-2"><%= data.testimoni[2].text %></p>
                    <p>~ <%= data.testimoni[2].name %></p>
                </div>
                
                <div class="flex gap-4 items-center cursor-pointer">
                    <div class="bg-cover bg-center w-16 h-16 rounded-full overflow-hidden">
                        <img src="<%= uri %>/images/testimonials/<%= data.testimoni[2].testimonial %>" alt="" >
                    </div>
                    <button class="hover:text-slate-400 duration-500 see" data-img="<%= data.testimoni[2].testimonial %>">See Picture</button>
                </div>
            </div>
        </div>

        <div class="p-5 mt-[50px] lg:mt-[100px] overflow-hidden rounded-xl">
            <div class="w-full flex">
                <img loading="lazy" src="<%= uri %>/assets/img/logo/telkom_logo.png" alt="" class="max-w-[100px] md:max-w-[200px] m-auto bg-slate-200 p-1 duration-[2000ms] delay-[2000ms] logo">
                <img loading="lazy" src="<%= uri %>/assets/img/logo/bumn.png" alt="" class="max-w-[100px] md:max-w-[200px] m-auto bg-slate-200 p-2 duration-[2000ms delay-[2000ms] logo">
                <img loading="lazy" src="<%= uri %>/assets/img/logo/telkomsel-logo-large.png" alt="" class="max-w-[100px] md:max-w-[200px] m-auto duration-[2000ms] delay-[2000ms] logo">
            </div>
            <div class="w-full flex mt-10 px-0 md:px-20">
                <img loading="lazy" src="<%= uri %>/assets/img/logo/Branch-Sorong.png" alt="" class="max-w-[100px] md:max-w-[200px] m-auto duration-[2000ms] delay-[2000ms] logo">
                <img loading="lazy" src="<%= uri %>/assets/img/logo/PTH_LOGO_NEW.png" alt="" class="max-w-[100px] md:max-w-[180px] m-auto duration-[2000ms] delay-[2000ms] logo">
            </div>
        </div>

    </section>

    <dialog class="overflow-auto">
        <div class="absolute right-3 top-3 cursor-pointer close-btn">
            <i class="fa-solid fa-xmark text-4xl text-red-600"></i>
        </div>
        <img src="" alt="" id="testimonialImg" class="w-[600px]">
    </dialog>

    <%- include('../layouts/footer') %>

</div>