<%- include('structure/head') %>
    <div class="w-full bg-slate-100">
        <%- include('layout/navbar') %>

        <%- include('layout/sidebar') %>
        <div class="w-full h-full py-14 px-5 lg:pe-14">
            <h1 class="lg:ms-72 text-2xl mt-16 mb-5">Rental Monitoring</h1>
            <section id="inProgress" class="lg:ms-72 mt-10 bg-white p-5">
                <h1 class="text-2xl">In Progress</h1>
                <div class="mt-5 min-h-[400px]">
                    <div>
                        <input type="text" name="inProgressSearch" class="my-4 text-[12px] w-56 border-2 py-1 px-2 outline-none text-slate-800 shadow" placeholder="search...">
                    </div>
                    <div class="w-[900px] lg:w-fit overflow-auto bg-white">
                        <div class="grid grid-cols-9 uppercase text-sm text-slate-500 mt-2 gap-2">
                            <div>
                                <p>Name</p>
                            </div>
                            <div>
                                <p>Destination</p>
                            </div>
                            <div>
                                <p>Passport</p>
                            </div>
                            <div>
                                <p>Boarding Passport</p>
                            </div>
                            <div>
                                <p>Modem</p>
                            </div>
                            <div>
                                <p>Plan</p>
                            </div>
                            <div>
                                <p>Rental Time</p>
                            </div>
                            <div class="pe-2">
                                <p>Rental Status</p>
                            </div>
                            <div>
                                <p>Action</p>
                            </div>
                        </div>
                        <div class="in-progress h-[400px] overflow-auto">
                            <% let no = 1; %>
                            <% for(const item of rentalInProgress) {%>
                            <div class="grid grid-cols-9 text-sm mt-5 gap-2">
                                <div class="flex items-center">
                                    <p><%= item.name %></p>
                                </div>
                                <div class="flex items-center">
                                    <p><%= item.destination %></p>
                                </div>
                                <div class="flex items-center">
                                    <button class="p-2 bg-sky-400 rounded-sm text-white text-[12px] lihat-passport" data-passport="<%= item.passport %>">Lihat Gambar</button>
                                </div>
                                <div class="flex items-center">
                                    <% if(item.boarding_passport !== '-'){ %>
                                        <button class="p-2 bg-sky-400 rounded-sm text-white text-[12px] lihat-boardingpass" data-boardingpass="<%= item.boarding_passport %>">Lihat Gambar</button>
                                    <% }else{ %>
                                        <div class="text-center ms-5">--</div>
                                    <% } %>
                                </div>
                                <div class="flex items-center">
                                    <p><%= item.jenis_modem %></p>
                                </div>
                                <div class="flex items-center">
                                    <p><%= item.plan %></p>
                                </div>
                                <div>
                                    <p><%= item.startAt %></p>
                                </div>
                                <div class="flex items-center">
                                    <p class="text-yellow-500"><%= item.status %></p>
                                </div>
                                <div>
                                    <a class="me-4 cursor-pointer update"><i data-href="monitoring/update/status/<%= item.status %>/<%= item.id %>" data-name="<%= item.name %>" class="fa-solid fa-pen-to-square"></i></a>
                                    <a class="cursor-pointer delete"><i data-href="monitoring/delete/status/<%= item.id %>" data-name="<%= item.name %>" class="fa-solid fa-trash"></i></a>
                                </div>
                            </div>
            
                            <% no++ } %>
                        </div>
                    </div>
                </div>

            </section>

            <section id="rentalRented" class="lg:ms-72 mt-10 bg-white p-5">
                <h1 class="text-2xl">Rented</h1>
                <div class="mt-5">
                    <div>
                        <input type="text" name="rentedSearch" class="my-4 text-[12px] w-56 border-2 py-1 px-2 outline-none text-slate-800 shadow" placeholder="search...">
                    </div>

                    <div class="w-[900px] lg:w-fit overflow-auto bg-white">
                        <div class="grid grid-cols-9 uppercase text-sm text-slate-500 mt-2 gap-2">
                            <div>
                                <p>Name</p>
                            </div>
                            <div>
                                <p>Destination</p>
                            </div>
                            <div>
                                <p>Passport</p>
                            </div>
                            <div>
                                <p>Boarding Passport</p>
                            </div>
                            <div>
                                <p>Modem</p>
                            </div>
                            <div>
                                <p>Plan</p>
                            </div>
                            <div>
                                <p>Rental Time</p>
                            </div>
                            <div class="pe-2">
                                <p>Rental Status</p>
                            </div>
                            <div>
                                <p>Action</p>
                            </div>
                        </div>
                        <div class="rented h-[400px] overflow-auto">
                            <% let no2 = 1; %>
                            <% for(const item of rentalRented) {%>
                            <div class="grid grid-cols-9 text-sm mt-5 gap-2 row-2">
                                <div class="flex items-center">
                                    <p><%= item.name %></p>
                                </div>
                                <div class="flex items-center">
                                    <p><%= item.destination %></p>
                                </div>
                                <div class="flex items-center">
                                    <button class="p-2 bg-sky-400 rounded-sm text-white text-[12px] lihat-passport" data-passport="<%= item.passport %>">Lihat Gambar</button>
                                </div>
                                <div class="flex items-center">
                                    <% if(item.boarding_passport !== '-'){ %>
                                        <button class="p-2 bg-sky-400 rounded-sm text-white text-[12px] lihat-boardingpass" data-boardingpass="<%= item.boarding_passport %>">Lihat Gambar</button>
                                    <% }else{ %>
                                        <div class="text-center ms-5">--</div>
                                    <% } %>
                                </div>
                                <div class="flex items-center">
                                    <p><%= item.jenis_modem %></p>
                                </div>
                                <div class="flex items-center">
                                    <p><%= item.plan %></p>
                                </div>
                                <div>
                                    <p class="countdown" data-end="<%= item.finishAt %>"></p>
                                </div>
                                <div class="flex items-center">
                                    <p class="text-blue-500"><%= item.status %></p>
                                </div>
                                <div>
                                    <a class="me-4 cursor-pointer update"><i data-href="monitoring/update/status/<%= item.status %>/<%= item.id %>" data-name="<%= item.name %>" class="fa-solid fa-pen-to-square"></i></a>
                                    <a class="cursor-pointer delete"><i data-href="monitoring/delete/status/<%= item.id %>" data-name="<%= item.name %>" class="fa-solid fa-trash"></i></a>
                                </div>
                            </div>
            
                            <% no++ } %>
                        </div>
                    </div>
                    
                </div>

            </section>

            <section id="rentalFinished" class="lg:ms-72 mt-10 bg-white  p-5">
                <h1 class="text-2xl">Finished</h1>
                <div class="mt-5">
                    <div>
                        <input type="text" name="finishedSearch" class="my-4 text-[12px] w-56 border-2 py-1 px-2 outline-none text-slate-800 shadow" placeholder="search...">
                    </div>

                    <div class="w-[900px] lg:w-fit overflow-auto bg-white">
                        <div class="grid grid-cols-7 uppercase text-sm text-slate-500 mt-2 gap-2">
                            <div>
                                <p>Name</p>
                            </div>
                            <div>
                                <p>Destination</p>
                            </div>
                            <div>
                                <p>Modem</p>
                            </div>
                            <div>
                                <p>Plan</p>
                            </div>
                            <div>
                                <p>Rental Time</p>
                            </div>
                            <div class="pe-2">
                                <p>Rental Status</p>
                            </div>
                            <div>
                                <p>Action</p>
                            </div>
                        </div>
                        <div class="finished h-[400px] overflow-auto">
                            <% let no3 = 1; %>
                            <% for(const item of rentalFinished) {%>
                            <div class="grid grid-cols-7 text-sm mt-5 gap-2">
                                <div class="flex items-center">
                                    <p><%= item.name %></p>
                                </div>
                                <div class="flex items-center">
                                    <p><%= item.destination %></p>
                                </div>
                                <div class="flex items-center">
                                    <p><%= item.jenis_modem %></p>
                                </div>
                                <div class="flex items-center">
                                    <p><%= item.plan %></p>
                                </div>
                                <div>
                                    <p>Time's Up</p>
                                </div>
                                <div class="flex items-center">
                                    <p class="text-green-500"><%= item.status %></p>
                                </div>
                                <div>
                                    <a class="cursor-pointer delete"><i data-href="monitoring/delete/status/<%= item.id %>" data-name="<%= item.name %>" class="fa-solid fa-trash"></i></a>
                                </div>
                            </div>
            
                            <% no++ } %>
                        </div>
                    </div>
                    
                </div>

            </section>
        </div>
    </div>

    <dialog id="lihatImage">
        <div class="text-end text-3xl cursor-pointer absolute right-3 top-3" id="closeBtn"><i class="fa-solid fa-xmark text-red-600"></i></div>
        <div class="flex flex-col">
            <img src=""  alt="" id="modalImage" class="max-w-[400px]">
            <img src=""  alt="" id="modalImage2" class="max-w-[400px]">
        </div>
    </dialog>

    <% if(success){ %>
        <%- success %>
    <% } %>

    <%- include('structure/footer') %>