<%- include('structure/head') %>
    <div class="w-full bg-slate-100">
        <%- include('layout/navbar') %>

        <%- include('layout/sidebar') %>

        <section id="rental" class="pe-10 ps-72 pt-32 mb-10">
            <h1 class="text-3xl font-semibold">Users</h1>
            <div class="mt-5 min-h-[400px] overflow-auto">
                <div>
                    <input type="text" class="my-4 text-[12px] w-56 border-2 py-1 px-2 outline-none text-slate-800 shadow" placeholder="search...">
                </div>
                <div class="grid grid-cols-4 uppercase text-sm text-slate-500 mt-2">
                    <div>
                        <p>No</p>
                    </div>
                    <div>
                        <p>Username</p>
                    </div>
                    <div>
                        <p>Status</p>
                    </div>
                    <div>
                        <p>Action</p>
                    </div>
                </div>
                <% let no = 1 %>
                <% for(item of data){ %>
                <div class="grid grid-cols-4 text-sm mt-5">
                    <div class="flex items-center">
                        <p><%= no++ %></p>
                    </div>
                    <div class="flex items-center">
                        <p><%= item.username %></p>
                    </div>
                    <div class="flex items-center">
                        <p><%= item.user_level %></p>
                    </div>
                    <div>
                        <a class="me-4 cursor-pointer lihat-formEdit"><i data-name="<%= item.username %>" data-id="<%= item.id %>" class="fa-solid fa-pen-to-square"></i></a>
                        <a class="cursor-pointer" href="/superuser/users/delete/<%= item.id %>"><i class="fa-solid fa-trash"></i></a>
                    </div>
                </div>
                <% } %>
            </div>
            <a class="p-2 bg-blue-500 rounded-sm text-white mt-5 cursor-pointer add-user">Add User <i class="fa-solid fa-plus ms-2"></i></a>

        </section>
    </div>

    <dialog class="p-5 text-sm rounded-lg">
        <div class="w-full">
            <div class="text-end text-xl cursor-pointer" id="formCloseBtn"><i class="fa-solid fa-xmark"></i></div>
            <h1 class="text-xl username"></h1>
        </div>
        <form action="/superuser/users/update" method="POST">
            <div class="flex flex-col mt-5">
                <label for="username">Username</label>
                <input type="text" name="username" class="text-[12px] w-56 border-2 py-1 px-2 outline-none text-slate-800 shadow mt-2">
            </div>
            <input type="hidden" name="id">
            <div class="flex flex-col mt-5">
                <label for="user_level">User Level</label>
                <select name="user_level" class="text-[12px] w-56 border-2 py-1 px-2 outline-none text-slate-800 shadow mt-2">
                    <option>PENYEDIA</option>
                    <option>FASILITATOR</option>
                    <option>SUPERUSER</option>
                </select>
            </div>
            <button class="w-full p-2 bg-blue-500 text-white mt-5 rounded-sm hover:bg-blue-700 duration-500" type="submit">Submit</button>
        </form>
    </dialog>

    <dialog class="p-5 text-sm rounded-lg">
        <div class="w-full">
            <div class="text-end text-xl cursor-pointer" id="closeBtn"><i class="fa-solid fa-xmark"></i></div>
        </div>
        <form action="/superuser/users/add" method="POST">
            <div class="flex flex-col mt-5">
                <label for="username">Username</label>
                <input type="text" name="username" class="text-[12px] w-56 border-2 py-1 px-2 outline-none text-slate-800 shadow mt-2">
            </div>
            <div class="flex flex-col mt-5">
                <label for="password">Password</label>
                <input type="password" name="password" class="text-[12px] w-56 border-2 py-1 px-2 outline-none text-slate-800 shadow mt-2">
            </div>
            <div class="flex flex-col mt-5">
                <label for="user_level">User Level</label>
                <select name="user_level" class="text-[12px] w-56 border-2 py-1 px-2 outline-none text-slate-800 shadow mt-2">
                    <option>PENYEDIA</option>
                    <option>FASILITATOR</option>
                    <option>SUPERUSER</option>
                </select>
            </div>
            <button class="w-full p-2 bg-blue-500 text-white mt-5 rounded-sm hover:bg-blue-700 duration-500" type="submit">Submit</button>
        </form>
    </dialog>


    <script>
        const formEdit = document.querySelectorAll('.lihat-formEdit');  
        const addUserBtn = document.querySelector('.add-user');
        const formCloseBtn = document.querySelector('#formCloseBtn');
        const closeBtn = document.querySelector('#closeBtn');
        const modal = document.querySelectorAll('dialog');

        formEdit.forEach(item => {
            item.addEventListener('click', (e) => {
                modal[0].showModal();
                const username = document.querySelector('.username');
                username.textContent = e.target.dataset.name;
                document.querySelector('input[name="id"]').value = e.target.dataset.id;
                document.querySelector('input[name="username"]').value = e.target.dataset.name;
            })
        });

        formCloseBtn.addEventListener('click', function(e){
            modal[0].close();
        });

        addUserBtn.addEventListener('click', () => {
            modal[1].showModal();
        });

        closeBtn.addEventListener('click', function(e){
            modal[1].close();
        });
    </script>

<%- include('structure/footer') %>